// Enable @carbon/themes
@import '@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

@import 'carbon-components/scss/globals/scss/styles.scss';

$carbon-sidenav-width: 3rem;

.bx--content {
  padding-left: $carbon-sidenav-width * 2;
}

.bx--side-nav__navigation {
  background-color: #161616;
}

svg {
  &.kv--normal-icon {
    fill: green;
  }
  &.kv--warning-icon {
    fill: #F8C22B;
    & [data-icon-path='inner-path'] {
      fill: black;
    }
  }
  &.kv--problem-icon {
    fill: red;
  }
}
